{% extends 'catalog/product_detail.html' %}
{% block content %}




<div class="container">
    <div class="row">
        <div class="col-6">
            <form class="row" method="post" enctype="multipart/form-data">
                <div class="card">
                    <div class="card-header">
                        Удаление товара "{{ object.name }}"
                    </div>
                    <div class="card-body">
                        {% csrf_token %}

                    </div>
                    <button type="submit" class="btn btn-primary">
                        удалить
                    </button>
                    <a class="btn btn-primary" href="{% url 'catalog:product_detail'  %}" role="button">Отменить</a>

                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
