{% extends 'catalog/product_detail.html' %}
{% block content %}




<div class="container">
    <form class="row" method="post" enctype="multipart/form-data">
        <div class="col-6">
                <div class="card">
                    {% if object %}
                    <p class="card-text">Редактирование Продукта</p>
                    {% else %}
                    <p class="card-text">Создание Продукта</p>
                    {% endif %}

                    <div class="card-body">
                        {% csrf_token %}
                        {{ form.as_p }}
                    </div>
                    <button type="submit" class="btn btn-primary">
                        {% if object %}
                        сохранить
                        {% else %}
                        Создать
                        {% endif %}
                    </button>
                </div>
        </div>
        <div class="col-6">
            <div class="card">
                 <p class="card-text">Версия продукта</p>
                <div class="card-body">
                    {{ formset.management_form }}
                    {% for form in formset.forms %}
                    {{ form.as_p }}
                    {% endfor %}

                </div>

            </div>

        </div>
    </form>
</div>
{% endblock %}
